<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <h1 v-html="title"></h1>
        <h2 v-html="content"></h2>

        <h3>ul 1 - value key obiektu</h3>

        <ul>
            <li v-for="(val, key) in object">{{key}} - {{val}}</li>
        </ul>
        
        <h3>ul 2 - key value index obiektu</h3>
        
        <ul>
            <li v-for="(val, key, index) in object">{{index}} - {{key}} - {{val}}</li>
        </ul>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'obiekty i  dyrektywa v-for',
                content: "",
                object: {
                    a: 111,
                    b: 222,
                    c: 333
                }
            }
        })
    </script>
</body>
</html>